<div>
    <h1>Perfil de
        <%= name%>
    </h1>
    <h2>Olá
        <%= name %>
    </h2>
    <h1>Seja bem-vindo!</h1>
    <p>Aplicação desenvolvida para gerenciar lista de tarefas em formato digital e online em parceria com a Associação Fortaleza Azul</p>
</div>