<form action="/criaTarefa" method="post">
    <p>
        <label for="descricaoTarefa">Descrição tarefa</label><br/>
        <textarea placeholder="Descrição da tarefa" name="descricaoTarefa" id="descricaoTarefa" required></textarea>
    </p>
    <p>
        <label for="dataInicial">Data inicial</label><br/>
        <input type="date" name="dataInicial" id="dataInicial" required>
    </p>

    <p>
        <label for="dataFinal">Data final</label><br/>
        <input type="date" name="dataFinal" id="dataFinal" required>
    </p>


    <p>
        <button type="submit">Adicionar</button>
    </p>
</form>